html, body, ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

.clearfix {
	overflow: auto;
}


.part-one {
	font-family: 'Slabo 27px', serif; 

	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	text-align: center;
	
}

@media (min-width: 960px) {

   body {
    width: 61.75em;
    margin: 0 auto;
   }

}



 img {
	max-width: 100%;
}

#main-title {
	font-size: 350%;
	font-weight: bold;
	color: #0331A7;
	padding-top: 2%;
	
}

#byline {
	font-size: 115%;
	padding-bottom: 1%;
	
	
}

#text {
	font-size: 110%;
	font-family: 'Roboto', sans-serif;
	padding-left: 4%;
	padding-right: 5%;
	padding-bottom: 2.5%;
}



#text li {
	padding-top: 1.3%;
}
